[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pandas = "*"
voluptuous = "*"


[dev-packages]

pytest = "*"
jupyter = "*"


[requires]

python_version = "3.5"
